:root{
  --main-color : #10cab7 ;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body{
  font-family:"work sans", sans-serif;
}
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
  }
.header .links .icon span:last-child {
  width: 100%;

  }
  .header .links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0px;
    top: calc(100% + 15px) ;
    min-width: 200px;
    display: none;
    z-index: 1;
  }
  .header .links ul::before{
    content: "";
    border-width: 10px;
    border-style:solid ;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul{
    display: block;
  }
  .header .links ul li a{
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;

  }
  .header .links ul li a:hover{
    padding-left: 25px;
  }
  .header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
  }
  .landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px );
    position: relative;
  }
  .landing .intro-text {    
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
text-align: center;
width: 320px;
max-width: 100%;
  }
  .landing .intro-text h1 {    
margin: 0px;
font-weight: bold;
font-size: 50px;
color: var(--main-color);
  }
  .landing .intro-text p {    
font-size: 19px;
line-height: 1.8;
  }
  .features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }
  .features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
  }
  .features .feat{
    padding: 20px;
    text-align: center;
  }
  .features .container i {
    color: var(--main-color);
  }
  .features .container h1{
    font-weight: 800;
    margin: 30px 0px;
  }
  .features .container p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  .special-heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0px;
    letter-spacing: -3px;
  }
  .special-heading + p {
    margin: -30px;
    font-size: 20px;
    color: #797979;
    text-align: center;
  }
  @media (max-width:767px){
    .special-heading{
      font-size: 60px;
    }
    .special-heading + p{
      margin-top: -20px;
    }
  }
  .services .services-content {
display: grid;
grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
gap: 30px;
  }
  .services .services-content .srv  {
    display: flex;
    margin-bottom: 40px;
   
  }
  @media (max-width:767px){
    .services .services-content .srv  {
      flex-direction: column;
      text-align: center;
     
    }
  }

  .services .services-content .srv i {
color: var(--main-color);
flex-basis: 60px;
  }
  .services .services-content .srv .text {
    flex : 1;
  }a
 
  .services .services-content .srv {
    margin: 20px;
  }
  .services .container p {
    margin-bottom: 20px;
  }
  .services .col .image{
    position: relative;

    text-align: center;
  }
  .services .col .image .mou{
    width: 260px;
    
  }
  .services .col .image::after{
    content: "";
  background-color: rgb(44, 72, 86);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
  }
  @media (max-width:1199px){
    .services .col .image{
      display: none;
    }
  }
  .portfolio {
    padding-top:20px ;
    padding-bottom:20px; 
    background-color: #f6f6f6;
  }
  .portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
  }
  .portfolio .container img {
    max-width: 100%;
  }
  .portfolio .container .card {
    background-color: white;
    
    
  }
  .portfolio .container .card h3,p {
    padding-left: 20px;
  }
  .portfolio .container .card p {
    color: #777;
  }
  .about{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .about .about-content{
margin-top: 100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
  }
  .about .about-content hr{
    width: 50%;
    border-color: var(--main-color); 
display: inline-block;
margin-left: 21px;
  }
  .about .about-content .image img {
    position: relative;
    width: 250px;
    height: 375px;
    margin: auto;
  }
  .about .about-content .image img {
    max-width: 100%;
  }
  .about .about-content .image{
    position: relative;
  }

  @media(max-width:1199px){
    .about .about-content .image::after,
    .about .about-content .image::before{
      display: none;
    }
  }
  .about .about-content .image::after{
    content: "";
    width: 100px;
    height: 460px;
    background-color: #ebeced;
    position: absolute;
    top: -11%;
    left: -32px;
    z-index: -1;
  }
  .about .about-content .image::before{
    content: "";
    position: absolute;
    width: 85px;
    height: 311px;
    border-left: var(--main-color) 81px solid;
    left: 208px;
    top: -44px;
    border-bottom: var(--main-color) 80px solid;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
    line-height: 30px;
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    color: black;
  }
  .contact{
    background-color: whitesmoke;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contact .text{
    margin-top: 150px;
    text-align: center;
    line-height: 7px;
  }
  .contact .text p:nth-child(1){
    color: #2c4757;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
  }
  .contact .text p:nth-child(2){
    color: var(--main-color);
    font-weight: 800;
    font-size: 35px;
   
  }
  @media (max-width:767px) {
   .contact .container .text p{
      font-size: 25px;
    }
    
  }
 .social{
font-size: 16px;
margin-right: 20px;
margin-bottom: 40x;
  }
  .info i {
    color: #2f4753;
    margin: 5px;
  }
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer{
    background-color: #2c4856;
    color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  }
  span{
    color: var(--main-color);
    font-weight: bold;
  }
  